:root {
  --primary-color: #0d1b2a;
  --sidebar-color: #1b263b;
  --accent-color: #00f5d4;
  --text-color: #ffffff;
  --font-base-size: 16px;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: var(--font-base-size);
}@font-face {
  font-family: 'Phetsalart OT';
  src: url('/fonts/PhetsalartOT.ttf') format('truetype');
}